@charset "UTF-8";
/* CSS Document */

body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align:center;   /* centers all content */	
}

#wrapper {
	width:85%;
	margin:0 auto;       /* centers wrapper */
}

#feedback {
	background: lightyellow; /* background color */
	padding: 20px; 
    font-size: 125%;
}

.formation {
}
