@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(../img/dark-background-classic-guitar.jpeg);   /* background image*/
	color: #B53D3D;          /* text color for the entire document */
	font-size: 20px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}

#wrapper {
	width:900px;
	margin:0 auto;         /* centers wrapper */
 	text-align:center;
	background-color: rgba(255, 255, 255, 0.8);  /* creates white background with 80% opacity */
}


a:hover {
	font-size:200%;
	background-color: your_color_of_choice; 
	color: your_color_of_choice; 
}

a {
	padding: 10px;
	rounding: 50px;
	margin: 20px;
	font-size: 100%;
	background-color: #FFB54A; 
	color: #01004C; 
}

table {
	margin:0 auto;  /* centers table*/
	font-size:80%;
	background-color: #E26060; 
	color: #01004C; 
}

td {
	background-color: white;  /* sets background color for table cells*/
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}

audio { 
	width:200px;   /* sets the width of the audio controls */
}

video { 
	width:200px;   /* sets the width of the audio controls */
}